<nav>

    <button class="cerrar-sesion" (click)="irARutaDestino()">Cerrar sesion</button>
    <div class="nav-right">
        <button (click)="irARutaDestino_catalogo()"  class="catalogo">Catalogo de usuarios</button>

    </div>


</nav>
<div class="productos">
    <div class="producto">
        <app-producto [imageProducto]="productos_tienda.producto1.imagen"
            [nombre_producto]="productos_tienda.producto1.nombre" [descripcion]="productos_tienda.producto1.descripcion"
            [existencia]="productos_tienda.producto1.cantidad"
            [precio]="productos_tienda.producto1.precio"></app-producto>
    </div>

    <div class="carrito">
        <app-carrito></app-carrito>
    </div>
</div>