.contenedor{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    background-color: white;
    border-radius: 70px 70px 70px 70px;
    color: #3b3b3b;
    box-shadow: 3px 3px 6px gray;
}

.descripcion-producto{
    margin: auto;
    grid-column-start: 2;
    grid-column-end:3 ;
    text-align: center;
    margin-bottom: 10%;
    background-color: white;
    margin-right: 5%;
    border-radius: 70px;
    min-width: 50%;
}

.imagen{
    border-radius: 70px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin: 0;
    grid-column-start: 1;
    grid-column-end:2 ;
}
h1{
    color: #830144;
}
p{
    text-align: left;
}

button{
    width: 10%;
    padding: 2%;
    border: none;
    background-color: #FE0084;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px #52012b;
    transition: transform 0.3s, box-shadow 0.3s;color: white;
    font-size: 2vw;    
}

.agregar{
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    padding: 3%;
    
}
.restar,.sumar{
    width: 30%;
}
.restar{
    background-color: #950355;
    border-radius: 40px 0px 0px 40px;
}
.sumar{
    border-radius: 0px 40px 40px 0px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 7px 0px 0px #fc7cc4;
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px 0px #fc7cc4;
    color: #950355;
  }

 

  .cantidad{
    margin: 2%;
    font-size: 3vw;
    color: #830144;
  }

  @media only screen and (max-width: 921px) {
    button{
      font-size: 5vw;
    }
  }