<div class="contenedor" >
    <div class="imagen" [style.background-image]="'url(' + producto.imagen + ')'"></div>
    <div class="descripcion-producto">
        <h1>{{producto.nombre}}</h1>
        <h2>{{producto.precio}}</h2>
        <p>{{producto.descripcion}}</p>
        <h3>En existencia {{producto.existencia}}</h3>
        <button class="restar" (click)="restarCantidad()">-</button>
        <button class="sumar" (click)="aumentarCantidad()">+</button>
        <div class="cantidad">Agregar {{cantidad}} </div>
        <button class="agregar" (click)="agregarCarrito(producto)" >Agregar al carrito</button>
    </div>

</div>