button{
    
    border-radius: 40px 0px 0px 40px;
    width: 300px;
    border: none;
    height: 80px;
    background-color: #950355;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px #52012b;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    font-size: 2vw;
  
    
    
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 7px 0px 0px #FE0084;
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px 0px #fc7cc4;
    color: #530430;
  }

  @media only screen and (max-width: 921px) {
    button{
      font-size: 5vw;
    }
  }