<div class="contenedor">
  <h2>Crear Producto</h2>
  <form (ngSubmit)="crearProducto()">
    <div>

      <input placeholder="Nombre" [(ngModel)]="nuevoProducto.nombre" name="nombre" required>
    </div>
    <div>

      <input placeholder="Descripción" [(ngModel)]="nuevoProducto.descripcion" name="descripcion" required>
    </div>

    <div>

      <input placeholder="Precio" [(ngModel)]="nuevoProducto.precio" name="precio" required>
    </div>
    <div>

      <input placeholder="Existencia" [(ngModel)]="nuevoProducto.existencia" name="existencia" required>
    </div>
    <div>

      <input placeholder="Imagen" [(ngModel)]="nuevoProducto.imagen" name="imagen" required type="file"
        (change)="getBase64($event)">
    </div>
    <button type="submit">Crear Producto</button>
  </form>

  <hr>
</div>