.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    width: 100%;
    text-align: center;
}

form{
    text-align: center;
    width: 100%;
}

h2{
    color: #830144;
}