*{
    padding: 0;
    margin: 0;
}
.contenedor{
    margin: auto;
    padding: 0%;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.contenedor-menu{
    display: flex;
    justify-content: center;
}

.header-regreso{
    margin-top: 2%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    background-color: #830144;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    border-radius: 0px 90px 90px 0px;
    

}
h1{
    color: white;
}
.contenedor-formulario{
    justify-content: center;
    border-radius: 50px;
    width: 80%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 6px gray;
    
}
.formulario{
    margin-bottom: 4%;
}

input{
    
    border-radius: 50px;
    min-width: 30%;
    padding: 3%;
    font-size: 2vw;
    background-color: #FFFFFF;
    border: #830144 solid 4px;
}

.formulario-registro{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-boton-registrar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.boton-registrar{
    width: 30%;
}
